<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>重邮知多少</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,maximum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">	
</head>
<body>
	<div id="out">
	<div id="top">
		<div class="top_bac">
			<span class="first">{$select[0]['name']}</span>
			<span>{$select[1]['name']}</span>
			<span>{$select[2]['name']}</span>
			<span>{$select[3]['name']}</span>
			<span>{$select[4]['name']}</span>
		</div>
	</div>
	</div>
</body>
<script src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript">
	$('#out').css({'width':$(window).width()+'px','height':$(window).height()+'px'});
</script>
</html> 